@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Russo+One&display=swap');

html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #161616;
    color: white;
}
h1 {
    font-family: Russo One;
    font-size: 72px;
}
h2 {
    font-family: Orbitron;
    font-size: 36px;    
}
h3 {
    font-family: Orbitron;
    font-size: 24px;    
}
p {
    font-family: Orbitron;
    font-size: 18px;
    padding: 10px;
}
*{
    border: none;
    position: relative;
    text-align: center;
}
.pic{
    width: 100%;
}
img {
    width: 100%;
    height: 100%;
}
.bgc{    
    position: absolute;
}
.block{
    margin-top: 100px;
}
.blind-box{
    display: inline-block;
    height: 300px;
    width: 300px;
}
button{
    font-family: Orbitron;
    cursor: pointer;
}

#home .pic{
    max-width: 1960px;
    margin-left: auto;
    margin-right: auto;
}
/*nav*/
.nav{
    width: 100vw;
    height: 10vh;
    background-color: rgba(128, 128, 128, 0.8);
    position: fixed;
    z-index: 1;
}
.nav .container{
    height: 100%;
    padding-right: 5%;
}
.nav #nav-list{
    display: inline-block;
}
#list-btn{
    display: none;
}
.nav ul,li{
    display: inline-block;
}
.nav #wallet-btn{
    font-family: Orbitron;
    color:white;
    background-color: rgba(128, 128, 128, 0.8);
    font-size: 25px;
    margin-left:10vw;
    border-radius: 10px;
}
.nav a{
    font-family: Orbitron;
    color:white;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    margin-left: 3vw;
    line-height: 7vh;
}
.nav #logo{
    width: 16vw;
    font-size: 30px;
    margin-left: 0;
    margin-right: 8vw;
}
.nav-active{
    display: none;
}

/* nft */
.info {
    /* background-color: #171717; */
    color: white;
}
.info button{
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: bold;
    margin: 0px 10px;
}
.info .container{
    width: 100%;
    display: inline-block;
}
.info .heading-block{
    width: 80%;
    max-width: 600px;
    display: inline-block;
}
.info .heading-block h2{
    /* display: inline-block; */
    margin-top: 40px;
}
.info .heading-block button{
    display: inline-block;
    background-color: transparent;
    color: #e78257;
    margin-bottom: 100px;
    font-weight: 100;
}
.info .heading-block button:hover{
    color: #eea98b;
    transition: all 0.1s linear;
}
.info .pic{
    display: inline-block;
    width: 17vw;
    height: 17vw;
    min-width: 300px;
    min-height: 300px;
    vertical-align: middle;
    margin: 30px;
}
.info img{
    width: 100%;
    height: 100%;
}
.info .blocks {
    display: inline-block;
    width: 100%;
}
.info .blocks .block{
    display: inline-block;
    border: solid 1px #c4c4c4;
    width: 30%;
    min-width: 300px;
    min-height: 15vw;
    padding: 40px 20px;
    vertical-align: middle;
    margin-top: 0;
    color: white;
}
.info .mint-btn{
    background-color: #c4c4c4;
    color: white;
}
.info input{
    background-color: transparent;
    border: none;
    width: 20px;
    margin: 0px 10px;
    color: white;
}
.info span{
    color: #e78257;
}
.info #num{
    color: #e78257;
}
.info .amount p{
    display: inline-block;    
}
.block button{
    transition: all 0.2s linear;
}
.blocks button:hover{
    box-shadow: 0px 0px 5px 1px rgb(255, 172, 172);
    transform: scale(1.1); 
    transition: all 0.1s linear;
}


@media screen and (max-width: 768px) { 
    h1 {
        font-size: 36px;

    }
    h2  {
        font-size: 21px;
    }
    p  {
        font-size: 14px;
    }
    .nav {
        display: none;
    }
    .nav #nav-list{
        display: none;
    }
    .nav #list-btn{
        display: inline-block;
    }
    .nav #logo{
        display: none;
    }
    #list-btn{
        position: fixed;
        display: inline-block;
        z-index: 2;
        width:50px;
        height:50px;
        top: 2%;
        left: 12%;
        background-color: white;
        border-radius: 100%;
    }
    .nav-active{
        width: 0vw;
        background-color: rgba(128, 128, 128, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        animation: slide 1s ease;
    }
    .nav-active ul{
        height: 100%;
        padding-left: 0;
        margin-top: 60%;
    }
    .nav-active li{
        display: block;
        margin: 20% auto;
    }
    .nav-active a{
        font-size: 20px;
        text-decoration: none;
        letter-spacing: 2px;
        line-height: 15%;
        margin: 30% auto;
        color: white;
    }
    .nav-active #wallet-btn{
        font-size: 20px;
        color: white;
        background-color: rgba(128, 128, 128, 0.8);
        border-radius: 15px; 
    }
    .nav-active-shadow{
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        width: 70vw;
        top: 0;
        left: 30vw;
        bottom: 0;
        z-index: 2;
        cursor: default;
    }
}

@media screen and (max-width: 425px) { 
    #home{
        padding-top: 10vh;
    }
    .block{
        margin-bottom: 10vh;
    }
    .nav{
        height: 25vh;
    }
    .nav .container{
        padding-right: 0;
    }
    .nav ul{
        padding-left: 0;
    }
    .nav #logo{
        width: 40%;
    }
    .nav-active ul{
        margin-top: 15vh;
    }
    .nav-active li{
        margin: 40% auto;
    }
    .nav-active a{
        font-size: 15px;
    }
    .nav-active #wallet-btn{
        font-size: 15px;
    }
    #list-btn{
        top:2%;
        left:9%;
    }
}
@media screen and (max-width: 1440px) { 
    .nav .container{
        padding-right: 0;
    }
    .nav #logo{
        font-size: 25px;
        margin-left: 0;
        margin-right: 5vw;
    }
    .nav a{
        font-size: 15px;
    }
    .nav #wallet-btn{
        font-size: 20px;
        margin-left: 5vw;
    }
    .blocks{
        padding-bottom: 10vh;
    }
}
@media screen and (max-width: 320px) {     
    .info .pic{
        height: 280px;
        width: 280px;
        margin: 0;
        margin-bottom: 50px;
    }
}
@media (min-width: 1441px) {  
    h2  {
        font-size: 2.5rem;
    }
    p  {
        font-size: 1.5rem;
    } 
    button {
        font-size: 1.5rem;
    }
}
@media (min-width: 2000px) { 
    .nav #logo{
        font-size: 55px;
        margin-left: 2vw;
        margin-right: 5vw;
    }
    .nav a{
        font-size: 40px;
        line-height: 8vh;
    }
    .nav #wallet-btn{
        font-size: 50px;
    }
    #mint .container {
        margin-top: 200px;
    }
}
@keyframes slide{
    from{
        width: 0vw;
    }
    to{
        width: 30vw;
    }
}